<!doctype html>
<html>

<head>
    <script type="text/javascript">
        window.__trace__headstart = +new Date;
        window.__server__startTime = 1471504978830;
        window.__token = "67C15Xsj15wubf5/8DmrkXlG/l2jEPZBLXthifzz6ww=";
    </script>
    <meta charset="UTF-8"/>

    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>订单详情-美丽说</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="copyright" content="meilishuo.com"/>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml"/>
    <link rel="icon" href="/p1/160614/idid_ifrtgzddgm3dmnjshezdambqhayde_49x48.png" type="image/x-icon"/>
    <script type="text/javascript" src="/js/my-js/jquery-1.11.3.min.js"></script>
    <script> curl = {apiName: 'require'}; var MOGU = {}; var MoGu = {};</script>
    <link href="/css/index.css-63e7a9a6.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index.css-edfa391a.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css?1607162038.1471376099" />
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="/css/ie6.css?1607162038.1471376099" />
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" href="http://i.meilishuo.net/css/images/custom_icon_precomposed.png" />
    <link rel="icon" href="http://d04.res.meilishuo.net/pic/_o/75/6e/2f6871f198c0bd7615ffbf9a2f5f_49_48.c5.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/login.css?1607162038.1471376099" />

</head>
<body>

<div class="mgj_rightbar" data-ptp="_sidebar"></div>
<div id="header" class="J_sitenav header_2015" data-ptp="_head">
    <div class="wrap clearfix"></div>
</div>
<!-- 中间区域 -->
<div class="header_mid clearfix">
    <div class="wrap">
        <a rel="nofollow" href="index.html" class="logo" title="美丽说首页"></a>
        <div class="normal-search-content">
            <div class="top_nav_search" id="nav_search_form"> <!--搜索框 -->
                <div class="search_inner_box clearfix">
                    <div class="selectbox" data-v="1">
                        <span class="selected">搜商品</span>
                        <ol>
                            <li class="current" data-index="goods"><a href="#">商品</a></li>
                            <li data-index="shop"><a href="#">店铺</a></li>
                        </ol>
                    </div>
                    <form action="http://www.meilishuo.com/search" method="get" id="top_nav_form">
                        <input type="text" data-tel="search_book" name="searchKey" class="ts_txt fl" data-def="" value="" autocomplete="off" def-v="">
                        <input type="submit" value="搜  索" class="ts_btn" />
                        <input type="hidden" name="filter" value="goods" id="select_type" />
                    </form>
                    <div class="top_search_hint">
                    </div>
                </div>

                <div class="ts_hotwords">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="body_wrap">
    <div class="wrap">
        <div class="reg_wrap">
            <div class="head" id="head">

            </div>
            <div class="main">
                <div class="ad_wrap" id="productPic">
                </div>
                <div class="login_form">
                    <form id="loginForm">
                        <div id="idCom">

                        </div>

                        <h3>请选择您的心情<br/>
                            <a href="*"><span>开心🙂...</span></a>
                            <a href="*"><span>发呆😐...</span></a>
                            <a href="*"><span>难过😔...</span></a>
                            <a href="*"><span>大哭😭...</span></a>
                        </h3>
                        <div class="login_list">
                            <p class="login_box">
                                <div id="comList">

                                </div>
                            <input type="button" class="login_btn" value="返回" onclick="orderTable()"/>

                            </p>
                        </div>
                        <div class="loginErrorMessage none_f"></div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="foot J_footertimer" data-ptp="_foot" data-svrtime="">
    <div class="wrap foot_wrap clearfix">
        <div class="foot_info">
            <a rel="nofollow" class="info_logo" href="index.html"></a>
            <div class="info_text">
                <p>营业执照注册号：<a rel="nofollow" href="http://s6.mogucdn.com/pic/140924/8qc9_ieydgn3emqztszbxmmytambqmmyde_1502x2246.jpg" target="_blank">110108013011072</a></p>
                <p>京ICP备11031139号</p>
                <p>
                    <a target="_blank" href="http://d03.res.meilishuo.net/pic/_o/e1/80/4f22feee45bb9d0a92e7a950f9c5_1131_1600.cg.jpg" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                        <img src="http://s18.mogucdn.com/p1/160428/upload_ifrgemjwgq3gemzthazdambqmeyde_20x20.png" style="float:left;">
                        <span style="color: #999;">&nbsp;京公网安备 110108006045</span>
                    </a>
                </p>
                <p class="mgjhostname" title="<?php echo gethostname();?>">©<? echo date("Y") ?> meilishuo.com 北京美丽时空网络科技有限公司</p>
            </div>
        </div>
        <div class="foot_link">
            <dl class="link_company">
                <dt>公司</dt>
                <dd><a rel="nofollow" href="aboutus.html" target="_blank">关于我们</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">招聘信息</a></dd>
                <dd><a rel="nofollow" href="contactus.html" target="_blank">联系我们</a></dd>
            </dl>
            <dl class="link_consumer">
                <dt>消费者</dt>
                <dd><a rel="nofollow" href="noviceGuide.html" target="_blank">新手指南</a></dd>
                <dd><a rel="nofollow" href="serviceEnsure.html" target="_blank">服务保障</a></dd>
            </dl>
            <dl class="link_business">
                <dt>商家</dt>
                <dd><a rel="nofollow" href="#/business#/index" target="_blank">商家入驻</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">商家推广</a></dd>
                <dd><a rel="nofollow" href="#/help#/index" target="_blank">帮助中心</a></dd>
            </dl>
        </div>
    </div>
</div>
<script type="text/javascript">
    var a = '${id}'
    $.ajax({
        url:"http://localhost:8086/comment/listCom2",
        data:{
            "orderTimeId":a
        },
        type:"get",
        dataType:"json",
        success:function (data) {
            console.log(data)
            $("#productPic").html('<img src="'+data[0].productPic+'" width="370" height="353" />');
            $("#head").html('<a href="*">'+data[0].productName+'</a>\n');
            $("#idCom").html('<input type="text" name="orderTimeId" value="'+data[0].id+'"><input type="text" name="productName"value="'+data[0].productName+'">');

            $("#comList").html('<textarea cols="50" rows="12" name="content">'+data[0].content+'</textarea>');
        },error:function () {
            alert("失败");
        }
    })
   function orderTable(){
        location.href="http://localhost:8089/orderController/order";
   }
</script>
</body>

</html>
